@import "./node_modules/blueimp-gallery/css/blueimp-gallery.less";

#gallery {
  .image-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 4px !important;
  }

  .gallery-item {
    height: 250px;
    overflow: hidden;

    a {
      color: #404040;
      font-family: sans-serif;
      font-weight: normal;
    }
  }
}