@import "./node_modules/blueimp-gallery/css/blueimp-gallery.less";

#gallery {
  .image-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 4px !important;
  }
}